@{
    ViewData["Title"] = "Home Page";
    
}
@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>METANIT.COM</title>
</head>
<body>
    <div id="loginBlock">
        <p>
            Введите логин:<br />
            <input id="Login" type="text" />
        </p>
        <p>
            Введите пароль:<br />
            <input id="Password" type="password" />
        </p>
        <input id="loginBtn" type="button" value="Войти" />
    </div>
    <br />

    <div id="inputForm">
        <input type="text" id="message" />
        <input type="button" id="sendBtn" disabled value="Отправить" />
    </div>
    <div id="chatroom"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script>
        let token;      // токен
        let username;   // имя пользователя
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("localhost:7175/weather", { accessTokenFactory: () => token })
            .build();


        document.getElementById("loginBtn").addEventListener("click", async () => {
            const response = await fetch("localhost:7175/login", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    Login: document.getElementById("Login").value,
                    Password: document.getElementById("Password").value
                }),
            });

            // если запрос прошел нормально
            if (response.ok === true) {
                // получаем данные
                const data = await response.json();
                token = data.access_token;
                username = data.username;
                document.getElementById("loginBtn").disabled = true;

                hubConnection.start()       // начинаем соединение с хабом
                    .then(() => document.getElementById("sendBtn").disabled = false)
                    .catch(err => console.error(err.toString()));
            }
            else {
                // если произошла ошибка, получаем код статуса
                console.log(`Status: ${response.status}`);
            }
        });
    </script>
</body>
</html>